@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
:root{
    --main-blue-clr:#236ADC;
    --white-clr:#fff;
    --gray-clr:#E5E5E5;

}
header{
    background:var(--main-blue-clr) ;
    padding: 1em 0;
      margin-bottom: 3em;
}
ul{
    list-style: none;
}
hr{
    width: 80px;
    margin:0 auto;
    border: 1px solid var(--main-blue-clr);
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.message-title{
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin: 0 auto;
     margin-bottom: .6em;
    text-transform: uppercase;
    width: 280px;
}
.message-subtitle, .message-note{
    margin-top: 2em;
    font-size: .9rem;

}
.message-btn{
    display: inline-block;
    background: var(--main-blue-clr);
    color: var(--white-clr);
    padding: .6em 1em;
    border-radius: 5px;
    margin-top: 2em;
}
.message-btn:hover{
    border: 1px solid var(--main-blue-clr);
    background:var(--gray-clr) ;
    color: var(--main-blue-clr);
}

footer{
    margin-top: 3em;
}

.social-icon li{
    display: inline-block;
    margin: 1em;
}
.social-icon li a i{
    border: 1px solid var(--main-blue-clr);
    color: var(--main-blue-clr);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.social-icon li a i:hover{
    background: var(--main-blue-clr);
    color: var(--gray-clr);
}


@media(min-width:800px){
    .message-title{
        font-size: 2.8rem;
        margin-bottom: .4em;
        width: 500px;
    }
    .message-subtitle,.message-note{
        font-size: 1rem;
    }
    .message-btn{
         padding: .7em 2em;
    }
    .social-icon li a i{
        width: 35px;
        height: 35px;
    }

}